/* ? STYLE RESET */

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

ul>li {
  list-style-type: none;
}

ol>li {
  margin-left: 1em;
}

/* ? STYLES */

/* common page styles and global classes */

body,
button {
  font-family: "Gilroy", "Arial";
  /* font fall-back */
  color: #242424;
  /* самый распространенный цвет текста */
}

button {
  cursor: pointer;
}

.wrapper {
  margin: 0 auto;
}

.wrapper--bg-img {
  position: relative;
}

.bg-img {
  position: absolute;
  right: 0;
}

.btn {
  display: block;
  border-radius: 58px;
  font-weight: 500;
  text-align: center;
}

.btn--explicit {
  background: #fbc832;
  border: none;
}

.btn--regular {
  background: #fff;
  border: 2px solid #ffc41e;
}

.link {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 500;
  font-size: 20px;
  color: #AD7F00;
  border-bottom: 1px solid #AD7F00;
  margin: 0 auto;
}

/* ? header */

.bg-grey {
  background: #f6f6f6;
  /* серый фон для секций и сепараторов */
}

.hamburger-menu,
.menu-group,
.header__socials,
.top-section__title,
.top-section__subtitle,
.top-section__desc,
.top-section__text,
.top-section__btn {
  position: relative;
  /* Чтобы контент вылез перед картинкой */
}

.header .wrapper {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .wrapper,
.header__right {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-group {
  display: none;
}

.menu-group__link {
  margin-right: 32px;
  font-weight: 600;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.socials__icon--vk,
.socials__icon--inst {
  stroke: white;
}

.socials__icon--vk path,
.socials__icon--inst path {
  fill: white;
}

.socials__icon--vk-yellow,
.socials__icon--inst-yellow {
  stroke: #E8A700;
}

.socials__icon--vk-yellow path,
.socials__icon--inst-yellow path {
  fill: #E8A700;
}

.socials__icon {
  background-size: 100% 100%;
}

/* ? top-section */

.top-section__title {
  font-weight: 700;
}

.top-section__subtitle {
  color: #6b6b6b;
  font-weight: 300;
}

.top-section__desc {
  color: #474747;
  font-weight: 600;
}

.top-section__text {
  color: #c78100;
  font-weight: 600;
}

/* ? desc-section */

.side-image-wrapper {
  position: relative;
}

.side-image-wrapper::before {
  content: '';
  width: 100vw;
  position: absolute;
  right: 50%;
  top: 0;
  bottom: 0;
  background-color: #FFC41E;
}

.side-image-wrapper__main-image {
  position: relative;
}

.side-image-wrapper__main-image--desc-section::after {
  background: url(../images/side-images/dog1.jpg);
  background-size: 100% 100%;
}

.side-image-wrapper__secondary-image {
  position: absolute;
  top: auto;
  left: auto;
  bottom: -3%;
  right: -6%;
  width: 47%;
}

.side-image-wrapper__secondary-image--desc-section::after {
  background: url(../images/side-images/cat1.jpg);
  background-size: 100% 100%;
}

.circle-image {
  border-radius: 50%;
  overflow: hidden;
}

.circle-image::after {
  content: '';
  display: block;
  padding-bottom: 100%;
  height: 0;
}

.desc-section__title {
  font-weight: 600;
  text-align: center;
  color: #C78100;
}

/* ? help-section */

.help-section__title {
  font-weight: 300;
  text-align: center;
}

.help-section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.help-section__list p {
  /* Возможно для этого p нужно придумать название класса по БЭМ */
  text-align: center;
  font-weight: 500;
  color: #474747;
}

/* вставка декоративных иконок */

.home-icon {
  background: url(../images/icons/home.svg) no-repeat;
}

.charity-icon {
  background: url(../images/icons/charity.svg) no-repeat;
}

.medicine-icon {
  background: url(../images/icons/medicine.svg) no-repeat;
}

.delivery-icon {
  background: url(../images/icons/delivery.svg) no-repeat;
}

.care-icon {
  background: url(../images/icons/care.svg) no-repeat;
}

.help-section__icon-wrapper {
  display: block;
  border-radius: 50%;
  border: 2px solid #FFC41E;
  margin: 0 auto;
  /* размеры и позиционирование иконок в секции "Как помочь" */
  background-size: 60% 60%;
  background-position: 50%;
}

/* ? separators */

.separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.separator::before,
.separator::after {
  content: "";
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  /* для того, чтобы сепараторы занимали все свободное пространство */
  height: 2px;
  background-color: #EEBF3A;
}

.separator__icon {
  background-size: 100% 100%;
}

/* ? home-section */

.home-section__block h3 {
  font-weight: 600;
}

/* ? pets-section */

.pets-section__title {
  font-weight: 300;
  text-align: center;
}

.pets-section__catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.pets-section__card {
  background: #fff;
  border: 1px solid #D6D6D6;
  border-radius: 5px;
  margin-right: auto;
  /* ! объединить свойства */
  margin-left: auto;
}

.avatar-wrapper {
  overflow: hidden;
}

.avatar {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  /* чтобы картинку не плющило (обрезание картинки) */
}

/* ? pets avatars animation */

.avatar:not(:hover) {
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);

  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.avatar:hover {
  -moz-transform: scale(11);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.15);

  filter: brightness(85%);

  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

/* ? */

.pet-name {
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  border-bottom: 2px solid rgba(214, 214, 214, 0.5);
}

.pet-meta {
  font-weight: 500;
  font-size: 14px;
  color: #6B6B6B;
}

.pet-desc {
  height: 100px;
  -webkit-line-clamp: 5;
  /* ? Число отображаемых строк */
  display: -webkit-box;
  /* ? Включаем флексбоксы */
  -webkit-box-orient: vertical;
  /* ? Вертикальная ориентация */
  overflow: hidden;
  /* ? Обрезаем всё за пределами блока */
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin: 6px 0 35px;
  /* ? на мобилке нижний отступ 34px по макету, но я это проигнорировал */
}

.pets-section__btn-group .btn {
  font-size: 18px;
  margin: 0 auto;
}

.link--pets-section::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 18px;
  background: url(../images/arrow.svg);
  margin: 3px 0 0 16px;
}

.promotion-block {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.promotion-block p {
  color: #242424;
}

/* ? charity-section */

.charity-section__title {
  font-weight: 600;
  text-align: center;
}

.charity-section__desc {
  font-weight: 500;
  color: #6B6B6B;
  text-align: center;
}

.charity-section__block-title {
  font-weight: 300;
}

/* ? medicine-section */

#medicine-section .medicine-section__list-item::before {
  content: '•';
}

.medicine-section__block-list {
  margin-bottom: 24px;
}

.medicine-section__title {
  font-weight: 600;
}

.color-b6b6b6 {
  color: #6B6B6B;
}

/* ? delivery-section */

.delivery-section__title {
  font-weight: 600;
}

/* ? volunteering-section */

.side-image-wrapper__main-image--volunteering-section::after {
  background: url(../images/side-images/dog2.jpg);
  background-size: 100% 100%;
}

.volunteering-section__title {
  font-weight: 600;
  text-align: center;
}

.volunteering-section__btn {
  font-size: 18px;
}

/* ? news-section */

.news-section__title {
  font-weight: 600;
  text-align: center;
}

.news-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* ? about-section */

.about-section__title {
  font-weight: 600;
  text-align: center;
}

.about-section__text {
  font-weight: 500;
}

.about-section__subtitle {
  font-weight: 400;
}

.about-section__socials-block p {
  color: #6B6B6B;
}

/* ? footer */

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer__link-list--left,
.footer__link-list--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.footer__link-list li:not(:last-child) {
  margin-bottom: 20px;
}

.footer__link-list li a {
  font-size: 14px;
}

.footer__link-list--left li a {
  font-weight: 600;
  color: #474747;
  border-bottom: 1px solid #474747;
}

.footer__link-list--right li a {
  border-bottom: 1px solid #242424;
}

.copyright {
  font-size: 12px;
  color: #B3B3B3;
  text-align: center;
}

/* ? banner-section */

.banner-section {
  background: no-repeat center center / cover url(../images/dog.jpg);
}

.banner-section__side-container {
  position: relative;
}

.banner-section__side-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0 50% 50% 0;
  background: #322D1E;
  mix-blend-mode: soft-light;
}

.banner-section__text {
  position: absolute;
  font-weight: 700;
  color: #fff;
  /* выравнивание посередине абсолютно спозиционированного элемента (хорошая практика) */
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.banner-section__text::after {
  content: "";
  position: absolute;
  bottom: 0;
  background: url(../images/paw.svg);
  background-size: 100% 100%;
  transform: translateY(10%);
  -webkit-transform: translateY(10%);
  -moz-transform: translateY(10%);
  -ms-transform: translateY(10%);
  -o-transform: translateY(10%);
}

/* ! --------------- RESPONSIVE LAYOUT --------------- */

@media (min-width: 320px) {
  .wrapper {
    width: 300px;
  }

  /* * header */

  .header {
    padding: 24px 0 20px;
  }

  .socials__icon {
    width: 32px;
    height: 32px;
  }

  .socials a:first-child {
    margin-right: 22px;
  }

  /* * top-section */

  #top-section {
    padding-bottom: 28px;
  }

  .top-section__title {
    font-size: 30px;
  }

  .top-section__subtitle {
    font-size: 12px;
    width: 211px;
    margin-bottom: 20px;
  }

  .top-section__desc {
    width: 158px;
    font-size: 14px;
    margin-bottom: 92px;
    line-height: 19.6px;
  }

  .top-section__text {
    width: 300px;
    text-align: center;
    margin: 0 auto 20px;
  }

  .top-section__btn {
    width: 194px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    color: #000;
    margin: 0 auto;
  }

  /* * desc-section */

  #desc-section {
    padding: 16px 0;
  }

  .side-image-wrapper {
    width: 193px;
    margin-left: 16px;
  }

  .side-image-wrapper--desc {
    margin-bottom: 32px;
  }

  .circle-image--big {
    border: 10px solid #FFC41E;
  }

  .circle-image--small {
    border: 3px solid #EEBF3A;
  }

  .desc-section__title {
    line-height: 19.2px;
    font-size: 16px;
    margin-bottom: 16px;
  }

  .desc-section__text {
    line-height: 19.6px;
    font-size: 14px;
  }

  .desc-section__content p:first-of-type {
    margin-bottom: 16px;
  }

  /* * help-section */

  #help-section {
    padding: 32px 0 40px;
  }

  .help-section__title {
    font-size: 18px;
  }

  .help-section__item {
    width: 142px;
    margin-top: 24px;
  }

  .help-section__icon-wrapper {
    width: 80px;
    height: 80px;
  }

  .help-section__list p {
    /* TODO Возможно для этого p нужно придумать название класса по БЭМ */
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
  }

  /* * separators */

  .separator__icon {
    width: 54px;
    height: 52px;
    margin: 0 45px;
  }

  /* * home-section */

  #home-section {
    padding: 24px 0 40px;
  }

  .home-section__block:first-child {
    margin-bottom: 32px;
  }

  .home-section__block h3 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 16px;
  }

  .home-section__block p {
    font-size: 14px;
    line-height: 19.6px;
  }

  /* * pets-section */

  #pets-section {
    padding-bottom: 26px;
    /* ? в этой секции сделал отступы, немного отличные от макета */
  }

  .pets-section__title {
    font-size: 20px;
  }

  .pets-section__catalog {
    padding: 16px 0 30px;
    /* ? 22 + 8 нижний отступ, так как высота строки у ссылки увеличивает его */
  }

  .pets-section__card {
    width: 300px;
    padding: 14px 14px 18px;
  }

  .pets-section__catalog li {
    margin-bottom: 22px;
  }

  .pets-section__catalog li:last-child {
    margin-bottom: unset;
    /* ? обнуляем (unset) последний нижний отступ на всех брейкпоинтах так, чтобы остались только отступы между карточками */
  }

  .pets-section__catalog li:nth-of-type(1),
  .pets-section__catalog li:nth-of-type(2),
  .pets-section__catalog li:nth-of-type(3) {
    display: none;
    /* ? на мобильной версии скрываем 3 первых карточки (остется 3 последних) */
  }

  .avatar-wrapper {
    height: 284px;
    margin-bottom: 12px;
  }

  .pet-name {
    padding-bottom: 6px;
  }

  .pet-meta {
    margin-top: 6px;
  }

  .pets-section__btn-group .btn {
    height: 30px;
  }

  .pets-section__btn-group .btn:first-child {
    width: 174px;
    margin-bottom: 20px;
  }

  .pets-section__btn-group .btn:last-child {
    width: 242px;
  }

  .link--pets-section {
    margin-bottom: 48px;
    /* * 40 + 8 нижний отступ, так как высота строки у ссылки увеличивает его */
  }

  .promotion-block p {
    font-size: 14px;
    line-height: 19.6px;
  }

  .pets-section__socials {
    margin: 6px auto 0;
  }

  .pets-section__socials a:first-child {
    margin-right: 48px;
  }

  /* * charity-section */

  #charity-section {
    padding: 16px 0;
  }

  .separator--charity {
    margin-bottom: 24px;
  }

  .charity-section__title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .charity-section__desc {
    line-height: 24px;
    margin-bottom: 40px;
  }

  .charity-section__block-title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .charity-section__block-text {
    font-size: 14px;
  }

  .charity-section__block-list li:first-child .charity-section__block-text {
    line-height: 25px;
  }

  .charity-section__block-list li:last-child .charity-section__block-text {
    line-height: 19.6px;
  }

  .charity-section__btn {
    width: 194px;
    height: 30px;
    line-height: 30px;
    font-size: 18px;
    margin: 16px auto 0;
  }

  .charity-section__block-list>li:first-child {
    margin-bottom: 32px;
  }

  /* * medicine-section */

  #medicine-section {
    padding: 32px 0 48px;
  }

  .separator--medicine {
    margin-bottom: 24px;
  }

  .medicine-section__block-list>li:not(:last-child) {
    margin-bottom: 40px;
  }

  .medicine-section__title {
    margin-bottom: 16px;
  }

  .medicine-section__text {
    font-size: 14px;
    line-height: 19.6px;
  }

  .bolder {
    font-weight: 500;
  }

  /* * delivery-section */

  #delivery-section {
    padding: 29px 0 43px;
  }

  .delivery-section__title {
    font-size: 16px;
    text-align: center;
    margin-bottom: 18.5px;
  }

  .delivery-section__text {
    font-size: 14px;
    line-height: 19.6px;
    margin-bottom: 16px;
  }

  .delivery-section__btn {
    height: 30px;
    width: 194px;
    line-height: 30px;
    font-size: 18px;
    margin: 0 auto;
  }

  /* * volunteering-section */

  #volunteering-section {
    padding: 27px 0 32px;
  }

  .side-image-wrapper--volunteering {
    margin-bottom: 24px;
  }

  .volunteering-section__title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .volunteering-section__text {
    font-size: 14px;
    line-height: 19.6px;
    margin-bottom: 16px;
  }

  .volunteering-section__btn {
    width: 193px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
  }

  /* * news-section */

  #news-section {
    padding: 18px 0 24px;
  }

  .news-section__title {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .news-section__content {
    margin-bottom: 24px;
  }

  .news-section__content li:first-child {
    margin-bottom: 24px;
  }

  .news-block {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .news-block__img {
    width: 79px;
    margin-right: 16px;
  }

  .news-block__text {
    font-size: 14px;
    line-height: 19.6px;
  }

  /* * about-section */

  #about-section {
    padding: 32px 0 24px;
  }

  .about-section__title {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .about-section__text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 32px;
  }

  .about-section__subtitle {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 16px;
  }

  .about-section__contacts {
    font-size: 14px;
    line-height: 19.6px;
    margin-bottom: 24px;
  }

  .about-section__socials-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .about-section__socials-block p {
    width: 211px;
    line-height: 22.4px;
  }

  .about-section__socials a:first-child {
    margin-right: 24px;
  }

  /* * footer */

  #footer {
    padding: 24px 0 16px;
  }

  .footer__nav {
    margin-bottom: 24px;
  }

  .footer__link-list--right {
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  /* * banner-section */

  .banner-section {
    padding: 39px 0 16px;
  }

  .banner-section__side-container {
    height: 212px;
    width: 251px;
  }

  .banner-section__text {
    font-size: 30px;
    margin-left: 30px;
  }

  .banner-section__text::after {
    width: 42px;
    height: 42px;
    margin-left: 6px;
  }
}

@media (min-width: 640px) {
  .wrapper {
    width: 458px;
    /* или 382px, на макете по-разному */
  }

  /* * top-section */

  #top-section__top-section {
    padding-bottom: 47px;
  }

  .top-section__subtitle {
    width: 282px;
  }

  .top-section__desc {
    width: 282px;
    margin-bottom: 152px;
  }

  .top-section__text {
    width: 381px;
  }

  /* * desc-section */

  #desc-section .wrapper {
    width: 382px;
  }

  .side-image-wrapper {
    margin-left: 77px;
  }

  /* * pets-section */

  .promotion-block p {
    /* ! Название по БЭМ? */
    width: 382px;
    margin: 0 auto;
  }

  /* * charity-section */

  #charity-section .wrapper {
    width: 382px;
  }

  /* * medicine-section */

  #medicine-section .wrapper {
    width: 382px;
  }

  /* * delivery-section */

  #delivery-section .wrapper {
    width: 382px;
  }

  /* * volunteering-section */

  #volunteering-section .wrapper {
    width: 382px;
  }

  /* * news-section */

  #news-section .wrapper {
    width: 382px;
  }

  /* * about-section */

  #about-section .wrapper {
    width: 382px;
  }

  .about-section__socials-block p {
    width: 282px;
  }

  .about-section__socials a:first-child {
    margin-right: 28px;
  }

  /* * footer */

  #footer .wrapper {
    width: 382px;
  }

  /* * banner-section */

  .banner-section {
    padding: 74px 0 74px;
  }
}

/* Здесь ничего не писать! */
@media (max-width: 768px) {

  /* чтобы прижать картинку к краю */
  .wrapper--bg-img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 548px;
  }

  /* * header */

  .header {
    padding-bottom: 12px;
  }

  .header__socials {
    margin-right: 47px;
  }

  .socials__icon {
    width: 40px;
    height: 40px;
  }

  .socials a:first-child {
    margin-right: 28px;
  }

  /* * top-section */

  #top-section {
    padding-bottom: 42px;
  }

  .top-section__title {
    font-size: 42px;
    margin-bottom: 6px;
  }

  .top-section__subtitle {
    font-size: 14px;
    width: 311px;
    margin-bottom: 8px;
  }

  .top-section__desc {
    width: 311px;
    margin-bottom: 40px;
  }

  .top-section__text {
    width: 204px;
    text-align: start;
    margin: 0 0 44px;
  }

  .top-section__btn {
    width: 182px;
    height: 42px;
    font-size: 20px;
    line-height: 42px;
    margin: 0;
  }

  /* * desc-section */

  #desc-section {
    padding: 24px 0;
  }

  #desc-section .wrapper {
    width: 548px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .side-image-wrapper {
    width: 273px;
    margin-left: -44px;
  }

  .side-image-wrapper--desc {
    margin-bottom: unset;
  }

  .circle-image--big {
    border: 14.5px solid #FFC41E;
  }

  .circle-image--small {
    border: 5px solid #EEBF3A;
  }

  .desc-section__content {
    width: 264px;
  }

  .desc-section__title {
    line-height: 24px;
    font-size: 20px;
    margin-bottom: 24px;
  }

  /* * help-section */

  #help-section {
    padding: 64px 0 54px;
  }

  .help-section__title {
    font-size: 24px;
  }

  .help-section__item {
    width: 140px;
    margin-top: 32px;
  }

  .help-section__icon-wrapper {
    width: 110px;
    height: 110px;
  }

  .help-section__list p {
    /* TODO Возможно для этого p нужно придумать название класса по БЭМ */
    margin-top: 20px;
  }

  /* * separators */

  .separator__icon {
    width: 64px;
    height: 62px;
    /* по макету здесь должен быть отступ 25px, а не 45px */
  }

  /* * home-section */

  #home-section {
    padding: 40px 0 48px;
  }

  #home-section .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
  }

  .home-section__block {
    width: 189px;
  }

  .home-section__block:first-child {
    margin-bottom: 0;
    /* убираем отступ снизу левого блока */
  }

  .home-section__block h3 {
    height: 54px;
    font-size: 20px;
    text-align: start;
    margin-bottom: 8px;
  }

  /* * pets-section */

  #pets-section {
    padding-bottom: 74px;
    /* в этой секции сделал отступы, немного отличные от макета */
  }

  .pets-section__catalog {
    padding: 24px 0 20px;
    /* 12 + 8 нижний отступ, так как высота строки у ссылки увеличивает его */
  }

  .pets-section__card {
    width: 368px;
    padding: 16px 16px 20px;
  }

  .pets-section__catalog li {
    margin-bottom: 44px;
  }

  .avatar-wrapper {
    height: 356px;
    margin-bottom: 8px;
  }

  .pets-section__title {
    font-size: 24px;
  }

  .pet-name {
    padding-bottom: 10px;
  }

  .pet-meta {
    margin-top: 8px;
  }

  .pets-section__btn-group .btn {
    height: 42px;
    font-size: 20px;
  }

  .pets-section__btn-group .btn:first-child {
    width: 209px;
    margin-bottom: 17px;
  }

  .pets-section__btn-group .btn:last-child {
    width: 296px;
  }

  .link--pets-section {
    margin-bottom: 56px;
    /* 48 + 8 нижний отступ, так как высота строки у ссылки увеличивает его */
  }

  .promotion-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
  }

  .promotion-block p {
    /* ! Название по БЭМ? */
    width: 379px;
    font-size: 16px;
    line-height: 22.4px;
  }

  .pets-section__socials {
    margin: unset;
    margin-left: 10px;
  }

  /* * charity-section */

  #charity-section .wrapper {
    width: 501px;
  }

  .charity-section__title {
    font-size: 20px;
    line-height: 32px;
  }

  .charity-section__desc {
    width: 358px;
    margin-left: auto;
    margin-right: auto;
  }

  .charity-section__block-list {
    display: flex;
    justify-content: space-between;
  }

  .charity-section__block {
    width: 237px;
  }

  .charity-section__btn {
    width: 223px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    margin: 24px 0 0;
  }

  /* * medicine-section */

  #medicine-section {
    padding: 36px 0 66px;
  }

  #medicine-section .wrapper {
    width: 398px;
  }

  .medicine-section__title {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 24px;
  }

  .link--medicine-section {
    margin: 0;
  }

  /* * delivery-section */

  #delivery-section {
    padding-bottom: 60px;
  }

  #delivery-section .wrapper {
    width: 398px;
  }

  .delivery-section__title {
    font-size: 20px;
    text-align: start;
    margin-bottom: 26px;
  }

  .delivery-section__text {
    margin-bottom: 38px;
  }

  .delivery-section__btn {
    height: 42px;
    width: 223px;
    line-height: 42px;
    font-size: 20px;
    margin: 0;
  }

  /* * volunteering-section */

  #volunteering-section {
    padding: 42px 0 40px;
  }

  #volunteering-section .wrapper {
    width: 548px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .side-image-wrapper--volunteering {
    margin-bottom: unset;
  }

  .volunteering-section__content {
    width: 223px;
    margin-right: 47px;
  }

  .volunteering-section__title {
    text-align: start;
    font-size: 20px;
    margin-bottom: 24px;
  }

  .volunteering-section__text {
    font-size: 14px;
    line-height: 19.6px;
    margin-bottom: 24px;
  }

  .volunteering-section__btn {
    width: 223px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    margin: 0;
  }

  /* * news-section */

  #news-section {
    padding: 25px 0 32px;
  }

  #news-section .wrapper {
    width: 426px;
  }

  .news-section__title {
    font-size: 24px;
    margin-bottom: 26px;
  }

  .news-section__content {
    margin-bottom: 34px;
  }

  .news-section__content li:first-child {
    margin-bottom: 46px;
  }

  .news-block {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .news-block__img {
    width: 104px;
    margin-right: 18px;
  }

  .news-section__link {
    margin: 0;
  }

  /* * about-section */

  #about-section {
    padding: 48px 0 48px;
  }

  #about-section .wrapper {
    width: 446px;
  }

  .about-section__title {
    font-size: 20px;
  }

  .about-section__text {
    margin-bottom: 24px;
  }

  .about-section__subtitle {
    line-height: 21px;
  }

  .about-section__contacts {
    margin-bottom: 32px;
  }

  .about-section__socials-block {
    display: block;
  }

  .about-section__socials-block p {
    width: unset;
    margin-bottom: 24px;
  }

  .about-section__socials a:first-child {
    margin-right: 32px;
  }

  /* * footer */

  #footer {
    padding-bottom: 20px;
  }

  #footer .wrapper {
    width: 548px;
  }

  .footer__nav {
    height: 98px;
  }

  .footer__link-list--left {
    width: 367px;
    -ms-flex-line-pack: justify;
    align-content: space-between;
  }

  .footer__link-list--left li:nth-child(3) {
    margin-bottom: unset;
  }

  /* * banner-section */

  .banner-section {
    padding: 67px 0 57px;
  }

  .banner-section__side-container {
    height: 292px;
    width: 346px;
  }

  .banner-section__text {
    font-size: 36px;
    margin-left: 74px;
  }

  .banner-section__text::after {
    width: 50px;
    height: 50px;
    margin-left: 12px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    width: 804px;
  }

  /* * header */

  .header {
    padding: 39px 0 33px;
  }

  /* Смена вида меню; Можно было сделать одно меню, 
  а затем, с помощью стилей, менять его вид, 
  но я сделал 2 разных меню и скрываю их */

  .hamburger-menu {
    display: none;
  }

  .menu-group {
    display: inline-block;
  }

  /**/

  .menu-group--right {
    margin-right: 85px;
  }

  .header__socials {
    margin-right: 69px;
  }

  .socials__icon {
    width: 49px;
    height: 49px;
  }

  /* * top-section */

  #top-section {
    padding-bottom: 107px;
  }

  .top-section__title {
    font-size: 64px;
    margin-bottom: unset;
  }

  .top-section__subtitle {
    width: 461px;
    margin-bottom: 12px;
  }

  .top-section__desc {
    width: 461px;
    margin-bottom: 43px;
  }

  .top-section__text {
    width: 300px;
    font-size: 20px;
  }

  /* * desc-section */

  #desc-section {
    padding: 36px 0;
  }

  #desc-section .wrapper {
    width: 664px;
  }

  .side-image-wrapper {
    width: 362px;
    margin-left: -93px;
  }

  .circle-image--big {
    border: 20px solid #FFC41E;
  }

  .circle-image--small {
    border: 6px solid #EEBF3A;
  }

  .desc-section__content {
    width: 323px;
  }

  .desc-section__title {
    line-height: 28.8px;
    font-size: 24px;
    margin-top: 40px;
  }

  .desc-section__text {
    font-size: 16px;
    line-height: 22.4px;
  }

  /* * help-section */

  #help-section {
    padding: 64px 0 75px;
  }

  .help-section__title {
    font-size: 28px;
  }

  .help-section__item {
    margin-top: 32px;
  }

  /* * separators */

  .separator__icon {
    width: 101px;
    height: 98px;
    /* по макету здесь должен быть отступ 29px, а не 45px */
  }

  /* * home-section */

  .home-section__block {
    width: 275px;
  }

  .home-section__block h3 {
    font-size: 24px;
    height: 64px;
    margin-bottom: 4px;
  }

  .home-section__block p {
    font-size: 16px;
    line-height: 22.4px;
  }

  /* * pets-section */

  .pets-section__catalog li:nth-last-child(2) {
    margin-bottom: unset;
    /* обнуляем (unset) предпоследний нижний отступ на всех брейкпоинтах так, чтобы остались только отступы между карточками */
  }

  .pets-section__catalog li:nth-of-type(1),
  .pets-section__catalog li:nth-of-type(2),
  .pets-section__catalog li:nth-of-type(3) {
    display: block;
    /* возвращаем обратно 3 карточки и теперь их 6 на экране */
  }

  .promotion-block p {
    width: 529px;
  }

  .pets-section__socials {
    margin-left: 7px;
  }

  /* * charity-section */

  #charity-section {
    padding: 28px 0 24px;
  }

  #charity-section .wrapper {
    width: 618px;
  }

  .separator--charity {
    margin-bottom: 38px;
  }

  .charity-section__title {
    font-size: 24px;
  }

  .charity-section__desc {
    width: 530px;
  }

  .charity-section__block {
    width: 274px;
  }

  .charity-section__block-title {
    font-size: 24px;
  }

  /* * medicine-section */

  #medicine-section {
    padding: 36px 0 66px;
  }

  #medicine-section .wrapper {
    width: 481px;
  }

  .medicine-section__title {
    font-size: 24px;
  }

  .medicine-section__text {
    font-size: 16px;
    line-height: 22.4px;
  }

  .bolder {
    font-weight: 700;
  }

  .medicine-section__list-item,
  #medicine-section .color-b6b6b6 {
    margin-top: 6px;
  }

  /* * delivery-section */

  #delivery-section {
    padding-bottom: 82px;
  }

  #delivery-section .wrapper {
    width: 481px;
  }

  .delivery-section__title {
    font-size: 24px;
  }

  .delivery-section__text {
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 38px;
  }

  /* * volunteering-section */

  #volunteering-section {
    padding: 50px 0 41px;
  }

  #volunteering-section .wrapper {
    width: 666px;
  }

  .side-image-wrapper--volunteering {
    margin-left: -109px;
  }

  .volunteering-section__content {
    width: 323px;
    margin-right: unset;
  }

  .volunteering-section__title {
    font-size: 24px;
  }

  .volunteering-section__text {
    font-size: 16px;
    line-height: 22.4px;
  }

  .volunteering-section__btn {
    width: 223px;
    height: 42px;
    line-height: 42px;
    font-size: 20px;
    margin: 0;
  }

  /* * news-section */

  #news-section {
    padding: 38px 0 44px;
  }

  #news-section .wrapper {
    width: 595px;
  }

  .news-section__title {
    margin-bottom: 24px;
  }

  .news-section__content {
    margin-bottom: 24px;
  }

  .news-section__content li:first-child {
    margin-bottom: 24px;
  }

  .news-block__img {
    width: 144px;
  }

  .news-block__text {
    font-size: 16px;
    line-height: 22.4px;
  }

  /* * about-section */

  #about-section .wrapper {
    width: 481px;
  }

  .about-section__title {
    font-size: 24px;
  }

  .about-section__text {
    font-size: 16px;
    line-height: 24px;
  }

  .about-section__subtitle {
    font-size: 22px;
    line-height: 25.5px;
    margin-bottom: 24px;
  }

  /* * footer */

  #footer .wrapper {
    width: 804px;
  }

  .footer__nav {
    display: block;
    height: unset;
  }


  .footer__link-list li {
    margin-right: 21px;
  }

  .footer__link-list--left,
  .footer__link-list--right {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .footer__link-list--right {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .footer__link-list--left {
    width: unset;
    margin-bottom: 24px;
  }

  .footer__link-list li:not(:last-child) {
    margin-bottom: unset;
  }

  /* * banner-section */

  .banner-section {
    padding: 89px 0 76px;
  }

  .banner-section__side-container {
    height: 390px;
    width: 463px;
  }

  .banner-section__text {
    font-size: 48px;
    margin-left: 100px;
  }

  .banner-section__text::after {
    width: 67px;
    height: 67px;
    margin-left: 16px;
  }
}

@media (min-width: 1270px) {
  .wrapper {
    width: 1146px;
    /* 1050 было бы лучше на данном брекпоинте, а уже на следующем - 1146, но я сделал как на макете */
  }

  /* * header */

  .header {
    padding-bottom: 76px;
  }

  .header__socials {
    margin-right: 97px;
  }

  .menu-group--right {
    margin-right: 257px;
  }

  /* * desc-section */

  #desc-section {
    padding: 54px 0 74px;
  }

  #desc-section .wrapper {
    width: 1146px;
  }

  .side-image-wrapper {
    width: 521px;
    margin-left: -32px;
  }

  .circle-image--big {
    border: 28px solid #FFC41E;
  }

  .circle-image--small {
    border: 9px solid #EEBF3A;
  }

  .desc-section__content {
    width: 466px;
    margin-right: 97px;
  }

  .desc-section__title {
    line-height: 33.6px;
    font-size: 28px;
    margin: 54px 0 28px;
  }

  .desc-section__text {
    font-size: 16px;
    line-height: 22.4px;
  }

  .desc-section__content p:first-of-type {
    margin-bottom: 20px;
  }

  /* * top-section */

  #top-section {
    padding-bottom: 272px;
  }

  .top-section__title {
    font-size: 72px;
    margin-bottom: 2px;
  }

  .top-section__subtitle {
    font-size: 16px;
    width: 659px;
  }

  .top-section__desc {
    width: 659px;
    font-size: 16px;
    line-height: 22.4px;
  }

  .top-section__text {
    width: 428px;
    font-size: 24px;
  }

  /* * help-section */

  #help-section {
    padding: 80px 0 79px;
  }

  .help-section__item {
    width: 166px;
    margin-top: 47px;
  }

  .help-section__icon-wrapper {
    width: 150px;
    height: 150px;
  }

  .help-section__list p {
    /* TODO Возможно для этого p нужно придумать название класса по БЭМ */
    margin-top: 24px;
    font-size: 16px;
    line-height: 22px;
  }

  /* * separators */

  .separator__icon {
    width: 148px;
    height: 144px;
    /* по макету здесь должен быть отступ 33px, а не 45px */
  }

  /* * home-section */

  #home-section {
    padding: 72px 0 72px;
  }

  .home-section__block {
    width: 389px;
  }

  .home-section__block h3 {
    font-size: 28px;
    height: unset;
    margin-bottom: 20px;
  }

  /* * pets-section */

  .pets-section__title {
    font-size: 28px;
  }

  .pets-section__catalog {
    padding: 32px 0 28px;
    /* 20 + 8 нижний отступ, так как высота строки у ссылки увеличивает его */
  }

  .pets-section__catalog li:nth-last-child(3) {
    margin-bottom: unset;
    /* обнуляем (unset) 3 отступ снизу так, чтобы остались только отступы между карточками */
  }

  .link--pets-section {
    margin-bottom: 72px;
    /* 64 + 8 нижний отступ, так как высота строки у ссылки увеличивает его */
  }

  .promotion-block p {
    width: 583px;
    font-size: 18px;
    line-height: 24px;
  }

  .pets-section__socials {
    margin-left: 38px;
  }

  /* * charity-section */

  #charity-section {
    padding: 30px 0 56px;
  }

  #charity-section .wrapper {
    width: 875px;
  }

  .separator--charity {
    margin-bottom: 40px;
  }

  .charity-section__title {
    font-size: 28px;
    margin-bottom: 24px;
  }

  .charity-section__desc {
    width: 758px;
    font-size: 18px;
  }

  .charity-section__block {
    width: 390px;
  }

  .charity-section__block-title {
    font-size: 28px;
  }

  .charity-section__block-text {
    font-size: 16px;
    line-height: 22.4px;
  }

  .charity-section__block-list li:last-child .charity-section__block-text {
    line-height: 27px;
  }

  /* * medicine-section */

  .separator--medicine {
    margin-bottom: 40px;
  }

  #medicine-section {
    padding: 36px 0 80px;
  }

  #medicine-section .wrapper {
    width: 678px;
  }

  .medicine-section__title {
    font-size: 28px;
  }

  /* * delivery-section */

  #delivery-section {
    padding: 45px 0 82px;
  }

  #delivery-section .wrapper {
    width: 680px;
  }

  .delivery-section__title {
    font-size: 28px;
  }

  .delivery-section__text {
    margin-bottom: 24px;
  }

  /* * volunteering-section */

  #volunteering-section {
    padding: 0 0 50px;
  }

  #volunteering-section .wrapper {
    width: 952px;
  }

  .side-image-wrapper--volunteering {
    margin-left: -113px;
  }

  .volunteering-section__content {
    width: 466px;
  }

  .volunteering-section__title {
    font-size: 28px;
  }

  /* * news-section */

  #news-section {
    padding: 55px 0 62px;
  }

  #news-section .wrapper {
    width: 778px;
  }

  .news-section__title {
    font-size: 28px;
    margin-bottom: 42px;
  }

  .news-section__content {
    margin-bottom: 32px;
  }

  .news-section__content li:first-child {
    margin-bottom: 40px;
  }

  .news-block__img {
    width: 140px;
    margin-right: 35px;
  }

  /* * about-section */

  #about-section {
    padding: 56px 0 54px;
  }

  #about-section .wrapper {
    width: 680px;
  }

  .about-section__title {
    font-size: 28px;
  }

  .about-section__text {
    font-size: 18px;
  }

  .about-section__contacts {
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 40px;
  }

  .about-section__socials-block p {
    margin-bottom: 16px;
  }

  /* * footer */

  #footer .wrapper {
    width: 1146px;
  }

  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  /* * footer */

  .footer__link-list--left {
    margin-bottom: unset;
  }

  /* * banner-section */

  .banner-section {
    padding: 119px 0 101px;
  }

  .banner-section__side-container {
    height: 521px;
    width: 617.5px;
  }

  .banner-section__text {
    font-size: 64px;
    margin-left: 134px;
  }

  .banner-section__text::after {
    width: 89px;
    height: 89px;
    margin-left: 22px;
  }
}

@media (min-width: 1366px) {
  .separator__icon {
    margin: 0 82px;
  }
}