/* STYLE RESET */

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  /* box-sizing: border-box; */
}

/* *,
*::before,
*::after {
  box-sizing: inherit;
} */

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

/* STYLES */

/* common page styles and global classes */

body {
  font-family: "Gilroy";
  color: #242424;
  /* самый распространенный цвет текста */
}

.wrapper {
  margin: 0 auto;
}

.wrapper--bg-img {
  position: relative;
}

.bg-img {
  position: absolute;
  right: 0;
}

.btn {
  display: block;
  border-radius: 58px;
  font-weight: 500;
  text-align: center;
}

.btn--explicit {
  background: #fbc832;
}

.btn--regular {
  box-sizing: border-box;
  border: 2px solid #ffc41e;
}

/* header */

.bg-grey {
  background: #f6f6f6;
  /* серый фон для секций и сепараторов */
}

.hamburger-menu,
.menu-group,
.header__socials,
.top-section__title,
.top-section__subtitle,
.top-section__desc,
.top-section__text,
.top-section__btn {
  position: relative;
  /* Чтобы контент вылез перед картинкой */
}

.header .wrapper {
  justify-content: space-between;
}

.header .wrapper,
.header__right {
  align-items: center;
  display: flex;
}

.menu-group {
  display: none;
}

.menu-group__link {
  margin-right: 32px;
  font-weight: 600;
}

.socials {
  display: flex;
}

.socials__icon--vk {
  background: url(../images/vk-logo.svg) no-repeat;
}

.socials__icon--inst {
  background: url(../images/inst-logo.svg) no-repeat;
}

.socials__icon {
  background-size: 100% 100%;
}

/* top-section */

.top-section__title {
  font-weight: 700;
}

.top-section__subtitle {
  color: #6b6b6b;
  font-weight: 300;
}

.top-section__desc {
  color: #474747;
  font-weight: 600;
}

.top-section__text {
  color: #c78100;
  font-weight: 600;
}

/* пропущенная вторая секция */

/* help-section */

.help-section__title {
  font-weight: 300;
  text-align: center;
}

.help-section__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.help-section__list p {
  /* Возможно для этого p нужно придумать название класса по БЭМ */
  text-align: center;
  font-weight: 500;
  color: #474747;
}

/* вставка декоративных иконок */

.home-icon {
  background: url(../images/icons/home.svg) no-repeat;
}

.charity-icon {
  background: url(../images/icons/charity.svg) no-repeat;
}

.medicine-icon {
  background: url(../images/icons/medicine.svg) no-repeat;
}

.delivery-icon {
  background: url(../images/icons/delivery.svg) no-repeat;
}

.care-icon {
  background: url(../images/icons/care.svg) no-repeat;
}

.icon-wrapper {
  box-sizing: border-box;
  /* за счет этого отступы и ширина border'а не изменяют размер блока */
  border-radius: 50%;
  border: 2px solid #FFC41E;
  margin: 0 auto;
  /* размеры и позиционирование иконок в секции "Как помочь" */
  background-size: 60% 60%;
  background-position: 50%;
}

/* separators */

.separator {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.separator::before,
.separator::after {
  content: "";
  flex: 1;
  /* для того, чтобы сепараторы занимали все свободное пространство */
  height: 2px;
  background-color: #EEBF3A;
}

.separator-icon {
  background-size: 100% 100%;
}

/* home-section */

.home-section__block h3 {
  font-weight: 600;
}

/* RESPONSIVE LAYOUT */

@media (min-width: 320px) {
  .wrapper {
    width: 300px;
  }

  /* header */

  .header {
    padding: 24px 0 20px;
  }

  .socials__icon {
    width: 32px;
    height: 32px;
  }

  .socials a:first-child {
    margin-right: 22px;
  }

  /* top-section */

  #top-section {
    padding-bottom: 28px;
  }

  .top-section__title {
    font-size: 30px;
  }

  .top-section__subtitle {
    font-size: 12px;
    width: 211px;
    margin-bottom: 20px;
  }

  .top-section__desc {
    width: 158px;
    font-size: 14px;
    margin-bottom: 92px;
    line-height: 19.6px;
  }

  .top-section__text {
    width: 300px;
    text-align: center;
    margin: 0 auto 20px;
  }

  .top-section__btn {
    width: 194px;
    height: 30px;
    font-size: 18px;
    line-height: 30px;
    color: #000;
    margin: 0 auto;
  }

  /* help-section */

  #help-section {
    padding: 32px 0 40px;
  }

  .help-section__title {
    font-size: 18px;
  }

  .help-section__item {
    width: 142px;
    margin-top: 24px;
  }

  .icon-wrapper {
    width: 80px;
    height: 80px;
  }

  .help-section__list p {
    /* Возможно для этого p нужно придумать название класса по БЭМ */
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
  }

  /* separators */

  .separator-icon {
    width: 54px;
    height: 52px;
    margin: 0 45px;
  }

  /* home-section */

  #home-section {
    padding: 24px 0 40px;
  }

  .home-section__block:first-child {
    margin-bottom: 32px;
  }

  .home-section__block h3 {
    text-align: center;
    margin-bottom: 16px;
  }

  .home-section__block p {
    font-size: 14px;
    line-height: 19.6px;
  }
}

@media (min-width: 640px) {
  .wrapper {
    width: 458px;
    /* или 382px, на макете по-разному */
  }

  /* top-section */

  #top-section__top-section {
    padding-bottom: 47px;
  }

  .top-section__subtitle {
    width: 282px;
  }

  .top-section__desc {
    width: 282px;
    margin-bottom: 152px;
  }

  .top-section__text {
    width: 381px;
  }
}

/* Здесь ничего не писать! */
@media (max-width: 768px) {

  /* чтобы прижать картинку к краю */
  .wrapper--bg-img {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .wrapper {
    width: 548px;
  }

  /* header */

  .header__socials {
    margin-right: 47px;
  }

  .socials__icon {
    width: 40px;
    height: 40px;
  }

  .socials a:first-child {
    margin-right: 28px;
  }

  /* top-section */

  #top-section {
    padding-bottom: 42px;
  }

  .top-section__title {
    font-size: 42px;
  }

  .top-section__subtitle {
    font-size: 14px;
    width: 311px;
    margin-bottom: 8px;
  }

  .top-section__desc {
    width: 311px;
    margin-bottom: 30px;
  }

  .top-section__text {
    width: 204px;
    text-align: start;
    margin: 0 0 44px;
  }

  .top-section__btn {
    width: 182px;
    height: 42px;
    font-size: 20px;
    line-height: 42px;
    margin: 0;
  }

  /* help-section */

  #help-section {
    padding: 64px 0 54px;
  }

  .help-section__title {
    font-size: 24px;
  }

  .help-section__item {
    width: 140px;
    margin-top: 32px;
  }

  .icon-wrapper {
    width: 110px;
    height: 110px;
  }

  .help-section__list p {
    /* Возможно для этого p нужно придумать название класса по БЭМ */
    margin-top: 20px;
  }

  /* separators */

  .separator-icon {
    width: 64px;
    height: 62px;
    /* по макету здесь должен быть отступ 25px, а не 45px */
  }

  /* home-section */

  #home-section {
    padding: 44px 0;
    /* или 40px 0 48px */
  }

  #home-section .wrapper {
    display: flex;
    justify-content: space-evenly;
  }

  .home-section__block {
    width: 189px;
  }

  .home-section__block:first-child {
    margin-bottom: 0;
    /* убираем отступ снизу левого блока */
  }

  .home-section__block h3 {
    height: 54px;
    font-size: 20px;
    text-align: start;
    margin-bottom: 8px;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    width: 804px;
  }

  /* header */

  .header {
    padding: 39px 0 33px;
  }

  /* Смена вида меню; Можно было сделать одно меню, 
  а затем, с помощью стилей, менять его вид, 
  но я сделал 2 разных меню и скрываю их */

  .hamburger-menu {
    display: none;
  }

  .menu-group {
    display: inline-block;
  }

  /**/

  .menu-group--right {
    margin-right: 85px;
  }

  .header__socials {
    margin-right: 69px;
  }

  .socials__icon {
    width: 49px;
    height: 49px;
  }

  /* top-section */

  #top-section {
    padding-bottom: 107px;
  }

  .top-section__title {
    font-size: 64px;
  }

  .top-section__subtitle {
    width: 461px;
    margin-bottom: 12px;
  }

  .top-section__desc {
    width: 461px;
    margin-bottom: 43px;
  }

  .top-section__text {
    width: 300px;
    font-size: 20px;
  }

  /* help-section */

  #help-section {
    padding: 64px 0 75px;
  }

  .help-section__title {
    font-size: 28px;
  }

  .help-section__item {
    margin-top: 32px;
  }

  /* separators */

  .separator-icon {
    width: 101px;
    height: 98px;
    /* по макету здесь должен быть отступ 29px, а не 45px */
  }

  /* home-section */

  .home-section__block {
    width: 275px;
  }

  .home-section__block h3 {
    font-size: 24px;
    height: 64px;
    margin-bottom: 4px;
  }

  .home-section__block p {
    font-size: 16px;
    line-height: 22.4px;
  }
}

@media (min-width: 1270px) {
  .wrapper {
    width: 1146px;
    /* 1050 было бы лучше на данном брекпоинте, а уже на следующем - 1146, но я сделал как на макете */
  }

  /* header */

  .header {
    padding-bottom: 76px;
  }

  .header__socials {
    margin-right: 97px;
  }

  .menu-group--right {
    margin-right: 257px;
  }

  /* top-section */

  #top-section {
    padding-bottom: 272px;
  }

  .top-section__title {
    font-size: 72px;
  }

  .top-section__subtitle {
    font-size: 16px;
    width: 659px;
  }

  .top-section__desc {
    width: 659px;
    font-size: 16px;
    line-height: 22.4px;
  }

  .top-section__text {
    width: 428px;
    font-size: 24px;
  }

  /* help-section */

  #help-section {
    padding: 80px 0 79px;
  }

  .help-section__item {
    width: 166px;
    margin-top: 47px;
  }

  .icon-wrapper {
    width: 150px;
    height: 150px;
  }

  .help-section__list p {
    /* Возможно для этого p нужно придумать название класса по БЭМ */
    margin-top: 24px;
    font-size: 16px;
    line-height: 22px;
  }

  /* separators */

  .separator-icon {
    width: 148px;
    height: 144px;
    /* по макету здесь должен быть отступ 33px, а не 45px */
  }

  /* home-section */

  #home-section {
    padding: 72px 0 72px;
  }

  .home-section__block {
    width: 389px;
  }

  .home-section__block h3 {
    font-size: 28px;
    height: unset;
    margin-bottom: 20px;
  }
}

@media (min-width: 1366px) {
  .separator-icon {
    margin: 0 82px;
  }
}